.facts {
    margin: 1rem 0;
    font-size: .8rem;
    line-height: 1.5rem;

    strong {
        margin-right: .5rem;
    }
}

.relatedContent {
    margin-top: 2rem;

    h4 {
        padding: .5rem 0;
    }

    li {
        display: block;
        padding: .25rem 0;
    }
}
